<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-menu.css">
    
    <title>Los Rikolino - Menu</title>

</head>

<body>
    
    <!-- Inicio del Header -->

    <%- include ('../partials/header')  %> 
    <!-- fin del Header -->

    <!-- Inicio del Main -->

    <main>
        <h2>Menu</h2>
        <section class = "main-section">
            <% categorias.forEach(element => { %>
                <article class = "article">
                        <a href="/productos/<%=element.id%>">
                            <div class="padre-articulos">
                                <h3 class = "categorias"><%=element.categoria%> </h3>
                                <div class="contenedor-img">
                                    <img src="/img/<%=element.image%>" alt="<%=element.textoAlternativo %> ">
                                </div>
                            </a>
                            </div>
                </article>
                <% }) %>

            </section>  
    </main>

    <!-- Fin del Main -->

    <!-- Inicio del Footer -->

    <%- include('../partials/footer')  %> 

    <!-- Fin del Footer -->

</body>
</html>