<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Los Rikolinos - Detalle del producto</title>
    
    <link rel="stylesheet" href="/css/productDetail.css">

    <link rel="stylesheet" href="/css/styles.css">

    
</head>
<body>

    <!-- Inicio del Header -->

    <%- include('../partials/header')  %> 

    <!-- Fin del Header -->

    <!-- Inicio del Main -->
    
    <main>

        <div class="container-h2">
            <h2>Detalles del producto</h2>
        </div>

        <section class="container-productDetail">
            <div class="container-img">
                <img src="/img/<%=detail.image%> " alt="<%= detail.imgDescription %> ">
            </div>

            <div class="container-description">
                <h2><%= detail.title  %> </h2>
                    <div class="description">
                        <p>
                            <%= detail.description  %> 
                        </p>
                    </div>
                <div class="container-precio">
                    <p>Precio</p>
                    <p>$<%= detail.price  %> ,00</p>
                </div>

                

                <div class="container-sumador_addCart">
                    
                    
                    <div class="container-sumador">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                    </div>    

                    <div class="container-addCart">
                        
                        <button>
                            Añadir a carrito
                        </button> 
                        
                    </div>
                </div>
            </div>

        </section>



      


        <div class="container-h2">
            <h2>Proba otras opciones</h2>
        </div>

        <section class="conteiner-especialidades">    

                <div class="productos">
                        <h3>Pizza</h3>
                        <img src="/img/pizza.jpeg" alt="">  
                        <div class="PrecioProduc">
                        <p>Pizza de toda variedad, para compartir </p> 
                        </div>
                </div>

                <div class="productos">
                        <h3>Parrilla</h3>
                        <img src="/img/parrillada.jpg" alt="">
                        <div class="PrecioProduc">
                        <p>Disfrute una de las mejores parrilas del pais</p>                    
                        </div>
                </div>

                <div class="productos">
                        <h3>Postres</h3>
                        <img src="/img/helado.jpg" alt=""> 
                        <div class="PrecioProduc">
                        <p>Postres unicos exquisitos y originales</p>
                        </div>                    
                </div>

                <div class="productos">
                    <h3>Bebidas</h3>
                    <img src="/img/bebidas.jpg" alt=""> 
                    <div class="PrecioProduc">
                    <p>Bebidas de todo tipo para acompañar tus comidas</p> 
                    </div>                    
                </div>

        </section>

    </main>

    <!-- Fin de Main -->

    <!-- Inicio del Footer -->
    
    <%- include('../partials/footer')  %> 

    <!-- Fin del Footer -->

</body>
</html>